<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for [@tour, @tour.bookings.build], method: :post do |f|%>
    <%= f.hidden_field :tour_id %>
    <%= f.label :phone  %>
    <%= f.number_field :phone, class: 'form-control' %>
    <%= f.label :people_number %>
    <%= f.number_field :people_number, class: "form-control" %>
    <%= f.submit %>
  <% end %>
  </div>
</div>
